@model mesoBoard.Common.UserPermissions

<table class="forum_permissions">
    <tr><th>Forum Permissions</th></tr>
    <tr><td>You <b>@(Model.Posting > 0 ? "CAN" : "CAN NOT")</b> reply to threads</td></tr>
    <tr><td>You <b>@(Model.Posting > 1 ? "CAN" : "CAN NOT")</b> create new threads</td></tr>
    <tr><td>You <b>@(Model.Posting > 2 ? "CAN" : "CAN NOT")</b> create stickies</td></tr>
    <tr><td>You <b>@(Model.Posting > 3 ? "CAN" : "CAN NOT")</b> create announcements</td></tr>
    <tr><td>You <b>@(Model.Polling > 0 ? "CAN" : "CAN NOT")</b> cast votes</td></tr>
    <tr><td>You <b>@(Model.Polling > 1 ? "CAN" : "CAN NOT")</b> create polls</td></tr>
    <tr><td>You <b>@(Model.Attachment > 0 ? "CAN" : "CAN NOT")</b> download attachments</td></tr>
    <tr><td>You <b>@(Model.Attachment > 1 ? "CAN" : "CAN NOT")</b> create attachments</td></tr>
</table>

