@model dynamic

<ul class="vertical menu">
    <li>@Html.ActionLink("Profile", "Profile", "User", null, new { @class = "profile" })</li>
    <li>@Html.ActionLink("Avatar", "Avatar", "User", null, new { @class = "avatar" })</li>
    <li>@Html.ActionLink("Email", "Email", "User", null, new { @class = "email" })</li>
    <li>@Html.ActionLink("Password", "Password", "User", null, new { @class = "password" })</li>
    <li>@Html.ActionLink("Signature", "Signature", "User", null, new { @class = "signature" })</li>
</ul>
       
<ul class="vertical menu" style="margin-top:20px">
    <li>@Html.ActionLink("Send Message", "SendMessage", "Messages", null, new { @class = "send" })</li>
    <li>
        <a href="@Url.Action("Inbox", new { controller = "Messages", Box = "All"}) " class="inbox">
            Inbox [@ViewData["NewMessagesCount"]  new]
        </a>
    </li>
    <li>@Html.ActionLink("Sentbox", "Inbox", "Messages", new { Box = "Sent" }, new { @class = "sent_box" })</li>
</ul>
