@model PasswordViewModel
@{
    Layout = "~/Views/Shared/_User.cshtml";
}
   
<div class="user_cp_password section">
    <h2>Password</h2>
    @using(Html.BeginForm()) { 
        <dl>
            <dt>Current Password</dt>
            <dd>
                @Html.PasswordFor(model => model.CurrentPassword)
                @Html.ValidationMessageFor(model => model.CurrentPassword)
            </dd>
            
            <dt>New Password</dt>
            <dd>
                @Html.PasswordFor(model => model.NewPassword) 
                @Html.ValidationMessageFor(model => model.NewPassword)
                <label class="info">
                    min. @Model.MinimumPasswordLength  characters
                </label>
            </dd>
            
            <dt>Confirm New Password</dt>
            <dd>
                @Html.PasswordFor(model => model.ConfirmNewPassword)
                @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
            </dd>        
            
            <dt>&nbsp;</dt>
            <dd>
                <input type="submit" value="Save Changes" />
            </dd>
        </dl>
     }  
</div>

    


