@{
    Layout = "~/Views/Shared/_Install.cshtml";
}

<h2>Installation Complete</h2>

<p>
    mesoBoard was successfully installed and the Settings.config file was updated with the credentials provided in the previous steps.
    Below is the admin user login and password. An email was sent to <strong>@ViewData["Email"]</strong> with the admin username and password.
</p>

<dl>
    <dt>Username</dt>
    <dd>@ViewData["Username"]</dd>

    <dt>Password:</dt>
    <dd>@ViewData["Password"]</dd>

    <dt>&nbsp;</dt>
    <dd>&#187; @Html.ActionLink("Go to Board", "Index", "Board")</dd>

    <dt>&nbsp;</dt>
    <dd>&#187; @Html.ActionLink("Go to Admin CP", "Index", "Admin", new { area="Admin" }, null)</dd>
</dl>
